<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootApp" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="br.com.luizalabs.wishlist.WishlistApplication" />
    <module name="wishlist" />
    <option name="PROGRAM_PARAMETERS" value="--spring.profiles.active=dev" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>